@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y:hidden;
  /* background-color: rgb(252, 246, 239); */
}
.main-container{
  margin: 0 auto;
  width: 80%;
}
h1{
  font-family: 'Libre Baskerville';
  font-size:3rem;
  color: rgb(180, 76, 76);
  text-align: center;
}
.book-component{
  background-color: rgb(255, 255, 255);
  display: flex;
  font-family: 'Poppins';
  margin: 0.7rem;
  border-radius: 10px;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.4);;
}
img{
  height: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right:10px;
}
.book-info h3{
  
}
@media only screen and (min-width: 745px) {
 
  .main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 3rem;
  }
  h1{
    grid-column: 1/-1;
  }
  .book-component{
    max-width: 270px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 270px;
    
  }
  img{
    border-radius: 0;
    justify-self: center;
    position: absolute;
    bottom: 120px;
    border-radius: 23px;
  }
  .book-info{
    position: relative;
    top: 66px;
    text-align: center;
  }
}

.book-component:nth-child(even){
  background-color: rgba(252,238,238,255);
 }
 .book-component:nth-child(odd){
  background-color:rgb(252, 228, 200);
 }

