@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y:hidden;
  font-family: 'Poppins';
  background-color: rgb(71, 53, 75);
}
.main-container{
  margin: 0 auto;
  width: 80%;
}
h1{
  font-size:3rem;
  color: rgb(211, 211, 211);
  text-align: left;
}
.book-component{
  display: flex;
  margin: 0.7rem;
  background-color: rgb(209, 189, 165);
  border-radius: 10px;
  box-shadow:  0 5px 15px rgba(139, 117, 117, 0.4);;
}
img{
  height: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right:10px;
}
.book-info h3{
  
}
@media only screen and (min-width: 745px) {
 
  .main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 3rem;
  }
  h1{
    grid-column: 1/-1;
  }
  .book-component{
    max-width: 270px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 250px;
    
    
  }
  img{
    border-radius: 0;
    justify-self: center;
    position: absolute;
    bottom: 100px;
    border-radius: 23px;
  }
  .book-info{
    position: relative;
    top: 66px;
    text-align: center;
  }
}



